[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
tweepy = "*"
gunicorn = "*"
psycopg2-binary = "*"
python-dotenv = "*"
install = "*"
setuptools = "==45.3.0"
jinja2 = "*"
spacy = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.8"
