[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tweepy = "*"
python-dotenv = "*"
Flask-SQLAlchemy = "*"
sklearn = "*"
scikit-learn = "*"
psycopg2-binary = "*"
gunicorn = "*"
Jinja2 = "*"
spacy = "*"
Flask = "*"
jinja2 = "*"

[requires]
python_version = "3.8"
